---
title: TEIhub
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@dr_pda" />
    <meta property="og:title" content="TEIhub" />
    <meta property="og:description" content="Discover TEI-encoded documents from GitHub public repositories." />
    <meta property="og:url" content="https://teihub.netlify.app" />
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#084a83">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <style>
      a[href$="/asc/"].active:after{
        content: '\f0d8';
        font-family: 'Icons';
        padding-left: 0.5em;
      }
      a[href$="/desc/"].active:after{
        content: '\f0d7';
        font-family: 'Icons';
        padding-left: 0.5em;
      }
      .ui.collapsing.table{
        margin-left: auto;
        margin-right: auto;
      }
      td.rtl {
        text-align: right;
      }
      span.english {
        font-style: italic;
      }
      @media (max-width: 720px){
        tr{
          overflow: hidden;
        }
        td.langs{
          float: left;
          max-width: 75%
        }
        td.langs:before{
          content: 'languages: ';
          font-style: italic;
          font-weight: normal;
        }
        td.files{
          font-weight: bold;
        }
        td.files:before{
          content: 'files: ';
          font-style: italic;
          font-weight: normal;
        }

      }
    </style>
    <title>{{ title }}</title>
  </head>
  <body class="ui container">
  <h1 class="ui dividing header">
    <a class="ui image" href="/"><img class="" src="/assets/apple-touch-icon.png"></a>
    <div class="content">
      <a href="/">TEIhub</a>
      <div class="sub header">Discover TEI-encoded documents from GitHub public repositories.</div>
    </div>
  </h1>
    {{ content | safe }}
  </body>
</html>
