---
title: TEIhub
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <title>{{ title }}</title>
  </head>
  <body class="ui container">
  <h1 class="ui dividing header"><a href="/">TEIhub</a></h1>
    {{ content | safe }}
  </body>
</html>
