---
layout: table
pagination:
  data: tei.lastIndexed
  size: 50
---
<div class="ui buttons">
  <button class="ui basic button">Sort by:</button>
  <button class="ui primary button">Last indexed</button>
  <a class="ui button" href="/repository/">Repository</a>
  <a class="ui button" href="/matches/">Matching files</a>
</div>
