---
layout: table
pagination:
  data: tei.matches
  size: 50
---
<div class="ui buttons">
  <button class="ui basic button">Sort by:</button>
  <a class="ui button"href="/last-indexed/">Last indexed</a>
  <a class="ui button" href="/repository/">Repository</a>
  <button class="ui primary button">Matches</button>
</div>
