---
layout: table
pagination:
  data: tei.repository
  size: 10
---
<div class="ui buttons">
  <button class="ui basic button">Sort by:</button>
  <a class="ui button"href="/last-indexed/">Last indexed</a>
  <button class="ui primary button">Repository</button>
  <a class="ui button" href="/matches/">Matching files</a>
</div>
